.done-true {
	text-decoration: line-through;
	color: grey;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

.icon {
	opacity: .45;
}

.icon:hover {
	opacity: .85;
}

.right {
	margin-right: 10px;
	float: right;
	line-height: 1;
}

.right:hover,
.right:focus {
	text-decoration: none;
  	cursor: pointer;
  	opacity: .8;
}