<form class="input-group" ng-submit="addTodo()">
	<input type="text" class="form-control" placeholder="What to do" ng-model="todoTask">
	<span class="input-group-btn">
    	<button class="btn btn-default" type="submit">Add</button>
   	</span>
</form>
<ul class="list-group" my-sortable id="#sortable">
	<li class="list-group-item" ng-repeat="todo in todos | filter:search">
		<span class="glyphicon glyphicon-ok" ng-click="doneTodo(todo)" ng-show="todo.done"></span>
		<span class="glyphicon glyphicon-asterisk icon" ng-click="doneTodo(todo)" ng-show="!todo.done"></span>

		<span class="done-{{todo.done}}">{{todo.task}}</span>
		<span class="glyphicon glyphicon-compressed close" aria-hidden="true" ng-click="archive(todo)" ng-show="todo.done"></span>
		<span class="label label-{{todo.level}} right" ng-click="changeLevel(todo)">{{todo.level}}</span>
		<!-- <button type="button" class="close" aria-hidden="true" ng-click="removeTodo(todo)">&times;</button> -->
	</li>
</ul>

<div >
	<h4 class="highlight">Statistics<h4>

	<dl class="dl-horizontal">
		<dt>Total</dt>
		<dd>{{total()}}</dd>
		<dt>Remaining</dt>
		<dd>{{remaining()}}</dd>
		<dt>Completed</dt>
		<dd>{{completed()}}</dd>
	</dl>

	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="{{progress()}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress()}}%;">
	    {{progress()}}
	  </div>
	</div>
</div>
