<span>{{remaining()}} of {{todos.length}} remaining</span> [ <a href="" ng-click="archive()">archive</a> ]

<form class="input-group" ng-submit="addTodo()">
	<input type="text" class="form-control" placeholder="What to do" ng-model="todoTask">
	<span class="input-group-btn">
    	<button class="btn btn-default" type="submit">Add</button>
   	</span>
</form>
<ul class="list-group">
	<li class="list-group-item" ng-repeat="todo in todos">
		<span class="glyphicon glyphicon-ok" ng-click="doneTodo(todo)" ng-show="todo.done"></span>
		<span class="glyphicon glyphicon-asterisk" ng-click="doneTodo(todo)" ng-show="!todo.done"></span>

		<span class="done-{{todo.done}}">{{todo.task}}</span>

		<!-- <button type="button" class="close" aria-hidden="true" ng-click="removeTodo(todo)">&times;</button> -->
	</li>
</ul>